@font-face {
  font-family: 'Caty';
  src: url ('/assets/caty.ttf') format('ttf')
}

header {
  background-color: wheat;
  color: black;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: Caty;
  font-size: larger;
}

img {
  height: 100px;
}